extends layout


block content
  p Welcome to #{title}
  p
    a(href='/') View family

  - var clientId = '7d31ada6-27b4-461e-bf8a-f642aacf5775'
  h1= title
  if children
    ul 
      each val in children
        li= Confirm
            form(action='/confirm-child', method='POST')
              p #{val.email}
                input(type='hidden', name='child', value=val.email) 
                |  
                input(type='submit', value='Confirm')
  else
    a(href='https://fusionauth.ritza.co/oauth2/authorize?client_id='+clientId+'&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Foauth-redirect&scope=offline_access&code_challenge='+challenge+'&code_challenge_method=S256') Login

