extends layout

block content
  h1= title
  p Welcome to #{title}

  - var clientId = '<YOUR_CLIENT_ID>'
  if user
    p Hello #{user.firstName}
    if family
      - var self = family.filter(elem => elem.id == user.id)[0]
      - family = family.filter(elem => elem.id != user.id)
      if family.length > 0
        p Confirmed children
      ul 
        each val in family
           form(action='/change-consent-status', method='POST')
              p #{val.email}
                |
                Consent #{val.consentstatus}
                input(type='hidden', name='userConsentId', value=val.userConsentId) 
                |  
                if val.status == "Active"
                  input(type='submit', value='Revoke Consent')
                  input(type='hidden', name='desiredStatus', value='Revoked') 
                else
                  input(type='hidden', name='desiredStatus', value='Active') 
                  input(type='submit', value='Grant Consent')
    if self.status == "Active"
      h2 Restricted Section
      p This is a restricted section. Only authorized users can view it.
  else
    a(href='<YOUR_FUSIONAUTH_URL>/oauth2/authorize?client_id='+clientId+'&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Foauth-redirect&scope=offline_access&code_challenge='+challenge+'&code_challenge_method=S256') Login

