extends layout


block content
  p Welcome to #{title}

  - var clientId = '7d31ada6-27b4-461e-bf8a-f642aacf5775'
  h1= title
  if user
    p Hello #{user.firstName}
    p 
      a(href='/confirm-child-list') View children to confirm
    p Confirmed children
    if family
      ul 
        each val in family
           form(action='/change-consent-status', method='POST')
              p #{val.email}
                |
                Consent #{val.consentstatus}
                input(type='hidden', name='userConsentId', value=val.userConsentId) 
                |  
                if val.status == "Active"
                  input(type='submit', value='Revoke Consent')
                  input(type='hidden', name='desiredStatus', value='Revoked') 
                else
                  input(type='hidden', name='desiredStatus', value='Active') 
                  input(type='submit', value='Grant Consent')
  else
    a(href='https://fusionauth.ritza.co/oauth2/authorize?client_id='+clientId+'&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Foauth-redirect&scope=offline_access&code_challenge='+challenge+'&code_challenge_method=S256') Login

